{% extends 'loans/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Add Loan for {{ customer.full_name }}</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Payment Frequency</label>
            {{ form.payment_frequency }}
        </div>

        <div class="mb-3">
            <label>Loan Amount</label>
            {{ form.loan_amount }}
        </div>

        

        <!-- PAYMENT PER SCHEDULE -->
        <div class="mb-3">
            <label>Payment per Schedule (Optional)</label>
            
            {{ form.payment_amount.as_widget }}
            <!-- CHECKBOX -->
            <div class="mb-3">
                <label>
                    <input type="checkbox" id="autoPaymentToggle">
                    Auto-compute payment per schedule
                </label>
            </div>

            <small class="text-muted">If filled, system will auto-compute due date</small>
        </div>

        
        <div class="mb-3">
            <label>Interest Type</label>
            {{ form.interest_type }}
        </div>

        <div class="mb-3">
            <label>Interest Value</label>
            {{ form.interest_value }}
        </div>

        <div class="mb-3">
            <label>Start Date</label>
            {{ form.start_date }}
        </div>

        <div class="mb-3">
            <label>Due Date</label>
            {{ form.due_date }}
        </div>

        <button type="submit" class="btn btn-success">Add Loan</button>
        <a href="{% url 'customer_detail' customer.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<!-- JS LOGIC -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("autoPaymentToggle");
    const paymentInput = document.querySelector("input[name='payment_amount']");
    const dueDateInput = document.querySelector("input[name='due_date']");

    function updateState() {
        if (toggle.checked) {
            paymentInput.disabled = false;

            dueDateInput.disabled = true;
            dueDateInput.value = "";
            dueDateInput.style.backgroundColor = "#e9ecef";
        } else {
            paymentInput.disabled = true;
            paymentInput.value = "";

            dueDateInput.disabled = false;
            dueDateInput.style.backgroundColor = "white";
        }
    }

    updateState();
    toggle.addEventListener("change", updateState);
});

</script>

{% endblock %}